# for local development using postgres and redis on standard ports
# you can create database 'teamfinder' in postgres and then
# leave only password for pg and secret key for django
# and remove all other non-commented variables
# TF__DJANGO__SECRET_KEY="your-secret-key"
# TF__POSTGRES__PASSWORD="your-password-here"
#
# for local development without Docker ALWAYS SET
# TF__DJANGO__DEBUG=True
# for production some variables are set in compose files
# ALWAYS use strong passwords and custom paths for admin panel and healthcheck

TF__DJANGO__SECRET_KEY="your-secret-key"
TF__DJANGO__DEBUG=True
TF__DJANGO__DOMAIN=localhost
TF__DJANGO__HEALTHCHECK_PATH=ht/
TF__DJANGO__ADMIN_PATH=admin/

TF__LOG__FORMAT="[%(asctime)s.%(msecs)03d] %(module)10s:%(lineno)-3d %(levelname)-7s - %(message)s"
TF__LOG__LEVEL=INFO
TF__LOG__DB_LEVEL=WARNING
TF__LOG__DJANGO_LEVEL=INFO

TF__POSTGRES__HOST=localhost
TF__POSTGRES__DB=teamfinder
TF__POSTGRES__USER=postgres
TF__POSTGRES__PASSWORD="your-password-here"
TF__POSTGRES__PORT=5432

TF__REDIS__HOST=localhost
TF__REDIS__PASSWORD=no
TF__REDIS__PORT=6379
TF__REDIS__DEFAULT_DB=0

TF__TASK__VERSION=1