{% extends "base.html" %}
{% load static %}

{% block title %}500 — Ошибка сервера | TeamFinder{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
<main class="container error-container">
    <div class="error-code">500</div>

    <h1 class="error-title">Что-то пошло не так</h1>

    <p class="error-text">
        На сервере произошла ошибка. Мы уже работаем над исправлением.
        Пожалуйста, вернитесь на главную или попробуйте позже.
    </p>

    <a href="{% url 'projects:projects_list' %}" class="black-button">
        На главную страницу
    </a>
</main>
{% endblock %}